/* =font family=== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@400;500;600;700;800;900&family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

/* ===Root======== */
:root {
    /* font-size */
    --fs-2xsm: 12px;
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-xmd: 18px;
    --fs-md: 20px;
    --fs-lg: 22px;
    --fs-xlg: 24px;
    --fs-2xlg: 32px;
    --fs-xl: 40px;
    --fs-2xl: 48px;
    /* text-color */
    --text-ffffff: #ffffff;
    --text-313ef7: #313ef7;
    --text-aeb5bf: #aeb5bf;
    --text-000000: #000000;
    --text-030303: #030303;
    --text-9ca3af: #9ca3af;
    --text-011736: #011736;
    --text-979797: #979797;
    --text-1b1b1c: #1b1b1c;
    --text-aebfbf: #aebfbf;
    --text-a7a7a7: #a7a7a7;
    --text-030522: #030522;
    --text-rgba: rgba(3, 5, 34, 0.65);
}

.fs-2xsm {
    font-size: var(--fs-2xsm);
}

.fs-xsm {
    font-size: var(--fs-xsm);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-xmd {
    font-size: var(--fs-xmd);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xlg {
    font-size: var(--fs-xlg);
}

.fs-2xlg {
    font-size: var(--fs-2xlg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-2xl {
    font-size: var(--fs-2xl);
}

.text-ffffff {
    color: var(--text-ffffff);
}

.text-313ef7 {
    color: var(--text-313ef7);
}

.text-aeb5bf {
    color: var(--text-aeb5bf);
}

.text-000000 {
    color: var(--text-000000);
}

.text-030303 {
    color: var(--text-030303);
}

.text-9ca3af {
    color: var(--text-9ca3af);
}

.text-011736 {
    color: var(--text-011736);
}

.text-979797 {
    color: var(--text-979797);
}

.text-1b1b1c {
    color: var(--text-1b1b1c);
}

.text-aebfbf {
    color: var(--text-aebfbf);
}

.text-a7a7a7 {
    color: var(--text-a7a7a7);
}

.text-030522 {
    color: var(--text-030522);
}

.text-rgba {
    color: var(--text-rgba);
}

/* ==========common classes========== */
.ff-Montserrat {
    font-family: 'Montserrat';
}

.ff-inter {
    font-family: 'inter';
}

.ff-Rubik {
    font-family: 'Rubik';
}

/* ======component classes==== */
.nav-style {
    font-size: var(--fs-sm);
    color: var(--text-ffffff);
    font-family: 'Montserrat';
    font-weight: 600;
}

.footer {
    font-size: var(--fs-sm);
    font-family: 'Montserrat';
    color: var(--text-a7a7a7);
    font-weight: 400;
    line-height: 150%;
}

.fw-xl-bold {
    font-weight: 900;
}

.container_css {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* =====nav======== */
.let-fly-btn {
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 40px;
    background-color: #010223;
    transition: all 500ms linear;
}

.let-fly-btn:hover {
    background-color: white;
    color: #313EF7;
}

nav ul li a {
    position: relative;

    transition: all 300ms linear;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #313EF7;
    left: 0;
    bottom: -13px;
    display: inline-block;
    transition: all 500ms linear;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: #313EF7 !important;
}

.change {
    transition: all 500ms linear;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.bg-img {
    background-image: url(/assets/img/png/bg-color.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* =============nav end============ */
/* ============First Section=========== */
.avitation {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 117.637px;
    line-height: 150%;
    letter-spacing: 0.6em;
    text-transform: uppercase;
    -webkit-text-stroke: 2.7px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.08);
    color: transparent;
}

.avitation-abs {
    position: absolute;
    top: -7%;
    left: 52%;
    transform: translate(-50%);
}

/* .plane-shadow {
    position: relative;
} */

.plane-shadow::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: 76%;
    width: 1067.64px;
    height: 65.363px;
    flex-shrink: 0;
    background: radial-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.1));
    mix-blend-mode: difference;
    border-radius: 120%;
    opacity: 0.3;
}

/* =============First Section End========= */
/* ==========Second Section============= */
.btn-box {
    max-width: 520px;
    min-height: 60px;
    border-bottom: 1px solid #F3F4F6;
}

div::-webkit-scrollbar {
    display: none;
}

.btn-1 {
    background-color: white;
    padding: 16px 42.17px;
    border-top-left-radius: 20px;
}

.btn-2 {
    background-color: white;
    padding: 16px 39.17px;
}

.btn-3 {
    background-color: white;
    padding: 16px 66px;
    border-top-right-radius: 20px;
}

.btn-1:hover {
    background-color: #313EF7;
    color: white;
    font-weight: 700 !important;
}

.btn-2:hover {
    background-color: #313EF7;
    color: white;
    font-weight: 700 !important;
}

.btn-3:hover {
    background-color: #313EF7;
    color: white;
    font-weight: 700 !important;
}

.dashed-border {
    border-bottom: 2px dashed Gray/200;
    width: 460px;
}

.book-now-btn {
    padding: 14px 45px;
    background-color: #313EF7;
    border-radius: 56px;
    box-shadow: 0px 10px 14px 0px #313EF740;
    transition: all 500ms linear;
}

.book-now-btn:hover {
    background-color: white;
    color: #313EF7;
}

.row-bg {
    background: #FFFFFF;
    box-shadow: 0px 100px 200px rgba(1, 23, 54, 0.1);
    border-radius: 0 20px 20px 20px;
}

.mt-20 {
    padding-top: 17%;
}

.transform {
    position: absolute;
    top: -14%;
    left: 50%;
    transform: translate(-50%);
}

.feature-box {
    width: 281.63px;
    height: 380px;
    background: #FFFFFF;
    box-shadow: 0px 100px 200px rgba(1, 23, 54, 0.1);
    border-radius: 185px;
    padding: 28px 21px 42px 21px;
    transition: all 400ms linear;
}

.feature-box:hover {
    scale: 1.1;
}

.feature-svg-box {
    width: 70px;
    height: 70px;
    background-color: rgba(49, 62, 247, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.arrow-bg {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms linear;
}

.arrow-bg:hover {
    background-color: #313EF7;
}

.abs-girl {
    position: absolute;
    left: -39%;
    top: -3%;
}

.abs-passport {
    position: absolute;
    right: -44%;
    bottom: 0;
}

.abs-ticket {
    position: absolute;
    left: -30%;
    bottom: 24%;
}

.abs-newyork {
    background-color: white;
    padding: 5px 15px 5px 5px;
    box-shadow: 0px 20px 20px rgba(122, 89, 255, 0.08);
    border-radius: 69px;
    position: absolute;
    left: -20%;
    bottom: 9%;
}

.abs-cloud {
    position: absolute;
    right: -9%;
    top: 5%;
}

.abs-star {
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(122, 89, 255, 0.08);
    border-radius: 69px;
    padding: 5px 15px 5px 5px;
    position: absolute;
    top: 26%;
    right: -30%;
}

.line-h {
    line-height: 28px;
}

.timeline-dots li {
    position: relative;
}

.timeline-dots::after {
    border-left: 2px dashed #E5E7EB;
    content: '';
    height: 66%;
    width: 5px;
    position: absolute;
    top: 14px;
    left: 8px;
    z-index: -1;
}

.timeline-dots li::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #313EF7;
    position: absolute;
    top: 7px;
    left: -20px;
}

/* ===========Second Section End============ */
/* ========Third section============ */
.bg-010223 {
    background-color: #010223;
}

.earth {
    animation-name: earth;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes earth {
    0% {
        transform: rotatey(360deg);
    }
}

.ticket-bg {
    background: #FFFFFF;
    border-radius: 30px;
    padding-bottom: 30px;
    max-width: 400px !important;
}

.ticket-detail {
    padding: 30px;
}

.black-circle {
    width: 38px;
    height: 35px;
    background-color: #010233;
    border-radius: 80px;
}

.black-c-position-1 {
    position: absolute;
    bottom: 26%;
    left: -6%;
}

.black-c-position-2 {
    position: absolute;
    bottom: 26%;
    right: -6%;
}

.border-b {
    width: 100%;
    border-bottom: 1px dashed #868D96;
}

.economy-btn {
    background-color: rgba(49, 62, 247, 0.1);
    padding: 8px 10px;
    border-radius: 50px;
    transition: all 400ms linear;
}

.economy-btn:hover {
    background-color: #313EF7;
    color: #FFFFFF;
}

.ticket-shadow {
    top: 2%;
    right: -5%;
}

.ticket-shadow-2 {
    top: 4%;
    right: -10%;
}

.ticket-shadow-3 {
    top: 6%;
    right: -15%;
}

.slick-list {
    padding-bottom: 35px !important;
}

.slick-dots {
    position: absolute;
    top: 13% !important;
    left: 90% !important;
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #ffffff !important;
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 10px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    opacity: .25;
    color: white !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-arrow {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all 500ms linear;
}

.slick-arrow:hover {
    background-color: #313EF7;
}

.slick-arrow-up-abs {
    position: absolute;
    bottom: 13%;
    right: 5%;
}

.slick-arrow-down-abs {
    position: absolute;
    bottom: 3%;
    right: 5%;
}

.line-abs {
    position: absolute;
    right: 9%;
    top: 42%;
}

/* =========Third Section end=========== */
/* =======Forth Section=========== */
.img-abs-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.img-abs-2 {
    position: absolute;
    bottom: 27%;
    left: 36%;
}

.name-abs {
    position: absolute;
    bottom: 5%;
    left: 23%;
}

.img-bg {
    width: 282px;
    height: 420px;
    background-color: #FFFFFF;
    box-shadow: 0px 100px 200px rgba(1, 23, 54, 0.05);
    border-radius: 213px;
    transition: all 500ms linear;
}

.img-bg:hover {
    scale: 1.1;
    cursor: pointer;
}

/* ======Forth Section End========= */
/* ========Fifth Section ========== */
.bg-map {
    background-image: url(/assets/img/png/map.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider-bg {
    background-color: white;
    box-shadow: 0px 100px 200px rgba(1, 23, 54, 0.1);
    border-radius: 20px;
    padding: 30px 21px;
}

.slider-aarrow {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(49, 62, 247, 0.1);
    border-radius: 100%;
    transition: all 500ms linear;
}

.slider-aarrow:hover {
    background-color: #313ef7;
    cursor: pointer;
}

.slider-aarrow:hover path {
    stroke: white;
}

.slider-arrow-position {
    position: absolute;
    left: 40%;
    bottom: -30%;
}

.line-style {
    line-height: 34px;
    font-style: italic;
}

.cus-1-position {
    position: absolute;
    left: 13%;
    top: 6%;
}

.cus-2-position {
    position: absolute;
    left: 42%;
    top: 5%;
}

.cus-3-position {
    position: absolute;
    right: 8%;
    top: 9%;
}

.cus-4-position {
    position: absolute;
    left: 20%;
    top: 48%;
}

.cus-5-position {
    position: absolute;
    left: 48%;
    top: 50%;
}

.cus-6-position {
    position: absolute;
    right: 17%;
    top: 35%;
}

.cus-7-position {
    position: absolute;
    right: 7%;
    bottom: -1%;
}

/* =============Fifth section end========== */
/* =============Sixth Section============== */
.memories-img {
    border-radius: 200px;
    cursor: pointer;
}

.zoom {
    transition: all 500ms linear;
}

.memory:hover .zoom {
    scale: 1.1;
}

.outline::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 100%;
    width: 100%;
    border: 10px solid rgba(255, 255, 255, 0.3);
    border-radius: 200px;
}

/* =========Sixth Section End============= */
/* =========Seventh Section============== */
.section-bg {
    background-color: rgba(49, 62, 247, 0.05);
}

.email-bg {
    width: 493px;
    min-height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 100px 200px rgba(1, 23, 54, 0.1);
    border-radius: 150px;
    padding: 0 11px 0 20px;
}

.Subscribe {
    padding: 10px 25px;
    border-radius: 56px;
    background-color: #313EF7;
    transition: all 400ms linear;
}

.Subscribe:hover {
    background-color: white;
    color: var(--text-aeb5bf);
    box-shadow: 0px 10px 14px 0px #313EF740;
}

input {
    outline: none;
    border: none;
    height: 100%;
    width: 70%;
    border-radius: 56px;
}

input[type="email"] {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    color: #aeb5bf;
}

/* ===========Seventh Section End============== */
/* ===========Footer================== */
.footer-bg {
    background-image: url(/assets/img/png/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social-app-box {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms linear;
}

.social-app-box:hover {
    background-color: #313ef7;
    animation-play-state: paused;
}

footer ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #313EF7;
    left: 0;
    bottom: -5px;
    display: inline-block;
    transition: all 400ms linear;
}

footer ul li a {
    position: relative;
    transition: all 300ms linear;
}

footer ul li a:hover {
    color: #313EF7;
}

footer ul li a:hover::after {
    width: 100%;
}

.facebook {
    animation-name: facebook;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes facebook {

    50% {
        transform: translate(0px, 50px);
    }
}

.linkdin {
    animation-name: linkdin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.8, .6, .4, 1);
}

@keyframes linkdin {
    50% {
        transform: translate(0px, 50px);
    }
}

.twitter {
    animation-name: twitter;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0.7, 0.4, .2);
}

@keyframes twitter {
    50% {
        transform: translate(0px, 50px);
    }
}

hr {
    color: rgba(196, 22, 51, 0.1);
    height: 3px;
}

/* ==============Footer end============== */
.back-top {
    --offset: 50px;
    position: sticky;
    bottom: 20px;
    left: 100%;
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    /* button style */
    font-size: 40px;
    font-family: 'poppins';
    font-weight: 500;
    color: #313EF7;
    border: 2px solid #313EF7;
    padding: 5px 20px;
    border-radius: 100%;
    transition: all 500ms linear;
}

.back-top:hover {
    background-color: #313EF7;
    color: white;
}

@media (min-width:1200px) {
    .mb-20 {
        margin-bottom: 20%;
    }

    .min-100vh {
        min-height: 100vh;
    }
}

@media (max-width:1200px) {
    .w-xl-100 {
        width: 100%;
    }

    .avitation {
        font-weight: 900;
        font-size: 100px;
    }

    .min-100vh {
        min-height: 80vh;
    }

    .mt-20 {
        padding-top: 10%;
    }
}

@media (max-width:992px) {
    .sm-navbar {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        backdrop-filter: blur(100px);
        transition: all 500ms linear;
        z-index: 3;
    }

    label[for="menuicon"] {
        width: 35px;
        height: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        z-index: 3;
    }

    label[for="menuicon"]>span {
        width: 100%;
        height: 4px;
        background-color: palevioletred;

    }

    .show {
        left: 0;
    }

    .min-100vh {
        min-height: 75vh;
    }

    :root {
        /* font-size */
        --fs-xlg: 24px;
        --fs-2xlg: 25px;
        --fs-xl: 30px;
        --fs-2xl: 40px;
    }

    .avitation {
        font-weight: 800;
        font-size: 90px;
        letter-spacing: 0.4em;
    }

    .mt-20 {
        padding-top: 17%;
    }
}

@media (max-width:768px) {
    :root {
        /* font-size */
        --fs-lg: 20px;
        --fs-xlg: 22px;
        --fs-2xlg: 22px;
        --fs-xl: 25px;
        --fs-2xl: 35px;
    }

    .avitation {
        font-weight: 800;
        font-size: 70px;
        letter-spacing: 0.3em;
    }

    .min-100vh {
        min-height: 70vh;
    }

    .mt-20 {
        padding-top: 20%;
    }
    .fw-xl-bold {
        font-weight: 700;
    }
}

@media (max-width:576px) {
    .slick-arrow {
        display: none !important;
    }

    .min-100vh {
        min-height: 70vh;
    }

    :root {
        /* font-size */
        --fs-2xl: 30px;
    }

    .avitation {
        font-weight: 700;
        font-size: 60px;
        letter-spacing: 0.1em;
    }

    .avitation-abs {
        position: absolute;
        top: -25%;
    }

    .ticket-bg {
        max-width: 390px !important;
    }

    .mt-20 {
        padding-top: 40%;
    }
    .fw-xl-bold {
        font-weight: 600;
    }
}